---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Project from "../components/ProjectCard.astro";
import About from "../sections/About.astro";
import Experience from "../sections/Experience.astro";
import Footer from "../sections/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <Project />
    <Experience />
    <About />
  </main>
  <Footer />
</Layout>
