---
interface Props {
	url?: string;
}

const { url = "size-6" } = Astro.props;
---
<a
  class="max-w-fit bg-radial-[at_25%_25%] from-primary-tint to-primary-shade to-75% text-theme-black p-2 rounded-xl mb-4 mr-4 hover:text-theme-white"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
<slot />
</a>
