---
import SectionTitle from "../components/SectionTitle.astro"
---

<section id="about" class="m-4">
  <SectionTitle>🦔 About me 🦔</SectionTitle>
  <article class="flex flex-col justify-center items-center">
    <div class="flex duration-100 ease-in hover:rotate-5">
    <img
      class="w-48 sm:w-64 rounded-xl p-3 pb-0 bg-linear-to-t from-[#222] to-[#333] mb-4 border-4 border-theme-white hover:bg-linear-to-t hover:from-[#f7b1b933] hover:to-[#d86573aa]"
      src="/images/me.webp"
      alt="The face of SrVariable"
      loading="lazy"
    />
    </div>
    <section>
      <p class="mb-2">
        My name is Rojohn, but I'm usually known as <strong
          class="text-theme-yellow">SrVariable</strong
        >, or just Variable.
      </p>
      <p class="mb-2">
        I'm currently studying in both <strong class="text-theme-yellow"
          >42 Málaga</strong
        > and <strong class="text-theme-yellow">IES Salduba</strong>.
      </p>
      <p class="mb-2">
        One of my goals is to learn enough to know that I didn't learn enough.
      </p>
    </section>
  </article>
</section>
