---
import GitHub from "../components/GitHub.astro";
import LinkedIn from "../components/LinkedIn.astro";
import Email from "../components/Email.astro";
import SectionTitle from "../components/SectionTitle.astro"
---

<section id="contact" class="m-4">
  <SectionTitle>✅ Contact ✅</SectionTitle>
  <p class="mb-4">Want to know anything else? Feel free to contact me via:</p>
  <div class="flex flex-col justify-between">
    <a
      href="https://github.com/SrVariable"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 mb-2 max-w-60 p-3 rounded-full hover:text-theme-yellow"
    >
      <GitHub styles="size-8" />
      <p class="hover:text-theme-yellow">/SrVariable</p>
    </a>
    <a
      href="https://linkedin.com/in/SrVariable"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 mb-2 max-w-60 p-3 rounded-full hover:text-theme-yellow"
    >
      <LinkedIn styles="size-8" />
      <p class="hover:text-theme-yellow">/SrVariable</p>
    </a>
    <a
      href="mailto:rojohnibana@gmail.com"
      class="flex items-center gap-2 max-w-60 p-3 rounded-full hover:text-theme-yellow"
    >
      <Email styles="size-8" />
      <p class="hover:text-theme-yellow">rojohnibana@gmail.com</p>
    </a>
  </div>
</section>
