<header class="fixed mx-auto z-10 top-4 w-full">
  <nav
    class="bg-[radial-gradient(circle_farthest-side,#d86573dd,#020618ee)] text-white mx-2 p-2 flex justify-center items-center text-nowrap"
  >
    <ul class="flex gap-4">
      <li>
        <a href="/#" class="hover:text-theme-yellow">Home</a>
      </li>
      <li>
        <a href="/#projects" class="hover:text-theme-yellow">Projects</a>
      </li>
      <li>
        <a href="/#about" class="hover:text-theme-yellow">About me</a>
      </li>
    </ul>
  </nav>
</header>
