---
import GitHub from "../components/GitHub.astro";
import LinkedIn from "../components/LinkedIn.astro";
import Email from "../components/Email.astro";
---

<section class="flex flex-col md:flex-row justify-center align-center w-full px-4 my-20 mb-10 text-white scroll-mt-20">
  <img
    src="/images/chopper.webp"
    alt="An image of Chopper sitting in V logo"
    class="rounded-full mb-2 size-30 md:rounded-full md:size-44 border-3 border-white self-center"
  />
  <div class="flex flex-col items-center">
    <h1 class="text-4xl font-bold mb-4 text-center">Yow, I'm <span class="text-theme-yellow font-bold">SrVariable</span> 👋</h1>
    <small class="text-lg italic mb-4 text-theme-white font-bold bg-linear-to-r from-primary-shade-2 to-primary-shade px-4">
      I know more than I believe and less than you think
    </small>
    <div class="flex flex-col">
      <p class="text-lg text-pretty mb-4 max-w-xl sm:pl-8">
      +2 years of experience. <strong class="text-theme-yellow">Software Developer</strong> from Málaga, Spain.
      Specialised in <strong class="text-theme-yellow">solving problems</strong> and currently looking for my next challenge.
      </p>
    </div>
    <nav>
      <ul class="flex flex-wrap justify-center gap-4">
        <li
          class="flex self-start gap-4 bg-radial-[at_25%_25%] from-primary-tint to-primary-shade to-75% px-4 py-2 rounded-full hover:scale-110"
        >
          <a
            href="https://github.com/SrVariable"
            target="_blank"
            rel="noopener noreferrer"
            class="flex gap-2 text-theme-black hover:text-theme-white"
          >
            <GitHub />
            GitHub
          </a>
        </li>
        <li
          class="flex self-start gap-4 bg-radial-[at_25%_25%] from-primary-tint to-primary-shade to-75% px-4 py-2 rounded-full hover:scale-110"
        >
          <a
            href="https://linkedin.com/in/SrVariable"
            target="_blank"
            rel="noopener noreferrer"
            class="flex gap-2 text-theme-black hover:text-theme-white"
          >
            <LinkedIn />
            LinkedIn
          </a>
        </li>
        <li
          class="flex self-start gap-4 bg-radial-[at_25%_25%] from-primary-tint to-primary-shade to-75% px-4 py-2 rounded-full hover:scale-110"
        >
          <a href="mailto:rojohnibana@gmail.com" class="flex gap-2 text-theme-black hover:text-theme-white">
            <Email />
            rojohnibana@gmail.com
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
