---
import { PROJECTS } from "../const/project.ts"
import ProjectCard from "../components/ProjectCard.astro"
import SectionTitle from "../components/SectionTitle.astro";
---

<section class="m-4 flex flex-col scroll-mt-20" id="projects">
  <SectionTitle>🌊 Projects 🌊</SectionTitle>
  <div class="flex flex-wrap gap-4 justify-center">
  {
    PROJECTS.map((project) => (
      <ProjectCard project={project} />
    ))
  }
  </div>
</section>
